<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ericflemingblogtest;AccountKey=bnMVGEmbUz8rotRt4r4GB/MfStVBpERCPJK+9HOhAXnF3aNwG57Uxbl2cC/W8TygxyBN8h88G69PwFGDXOjoeg==" />
  </appSettings>
</configuration>